form.pure-form.pure-form-stacked action="/session/new" method="POST"
  input#email name="user[name]" type="text" placeholder="User"
  input#password name="user[password]" type="password" placeholder="Password"
  button.pure-button.pure-button-login name="login" type="submit" Login
