body {
  min-width: 80%;
  background-color: #1F8DD6;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 0.8em;
}
#header {
  margin: 0;
  padding: 1px 30px;
  background-color: #2D3E50;
  color: #FFFFFF;
}
h1 {
  font-size: 16px;
  width: 90%;
  display: inline-block;
  margin: 0.67em 10px;
}
h3 {
  font-size: 25px;
  margin: 2em -139px;
  width: 80%;
  color: black;
}
.container {
  width: 80%;
  height: 80%;
  margin: auto;
  top: 0px; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
}
#container-head {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 3em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}
#container-subhead {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 3% 24%;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}
#form-pure {
  width: 45%;
  margin: 0% 28%;
  padding: 6%;
}
.links {
  color: #7CA7FF;
  text-decoration: none;
  font-size: 16px;
}
.pure-button {
  border-radius: 20px;
  background-color: #005380;
}
#deposit {
  background-color: #030303;
}
#extraction {
  background-color: #7D0C0C;
}
